.advantages__wrapper {
  text-align: center;
  background-color: $grey;
}

.advantages__container {
  background-color: $white;
  padding: 46px 20px 70px 20px;
}

.advantages__slogan {
  font-family: $font-family;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  font-family: $font-family;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $navy;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  padding: 43px 20px 24px 20px;
}

.advantages__pic {
  padding-top: 48px;
  padding-right: 81px;
  padding-left: 82px;
}
