.footer {
  text-align: center;
  background-color: $white;
  font-family: $font-family;
}

.footer__logo {
  padding: 40px 87px 41px 88px;

  img {
    padding-top: 40px;
  }
}

.footer__copyright {
  padding-bottom: 51px;
  margin: 0;
}
