.main-title {
  background-image: url("../img/main-background.png");
  background-repeat: no-repeat;
  background-size: auto auto;
}

.main-title__form {
  font-family: $font-family;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $white;
  text-align: center;
}

.main-title__catalog {
  font-family: $font-family;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $white;
  text-align: center;
  padding-bottom: 84px;
}
