.upload__wrapper {
  background-color: $grey;
  font-family: $font-family;
}

.upload__title {
  background-color: $white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $navy;
  text-align: center;
}

.upload__list {
  list-style: none;
}
